# =========================
# Maven / Java
# =========================
target/
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# IntelliJ
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Temp files
# =========================
*.tmp

# =========================
# Node (por si agregas frontend)
# =========================
node_modules/

# =========================
# Docker / PostgreSQL data
# =========================
infra/docker/postgres-data/
*.pid

# =========================
# Flyway (si usas archivos locales temporales)
# =========================
flyway.conf